name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:
    inputs:
      docker_tag:
        description: 'Tag pour l''image Docker'
        required: false
        default: 'latest'

jobs:
  build:
    # On remplace ubuntu-latest par macos-14
    runs-on: macos-14

    steps:
      - uses: actions/checkout@v4

      - name: Vérification de l'environnement
        run: |
          echo "Système d'exploitation :"
          sw_vers
          echo "Architecture :"
          uname -m

      - name: Run a multi-line script
        if: github.event_name == 'workflow_dispatch'
        run: |
          echo "Tag Docker choisi : ${{ github.event.inputs.docker_tag }}"
          echo "Prêt pour le build sur macOS Sonoma"
